<div mat-dialog-content>
	<mat-form-field appearance="outline" color="primary" *ngIf="!checkUsername()">
		<mat-label>Username</mat-label>
		<input matInput [(ngModel)]="username" (input)="checkUsername()">
	</mat-form-field>
	
	<mat-form-field appearance="outline" color="warn" *ngIf="checkUsername()">
		<mat-label>Username</mat-label>
		<input matInput [(ngModel)]="username" (input)="checkUsername()">
		<mat-hint color="warn">Username already taken</mat-hint>
	</mat-form-field>

	<mat-form-field appearance="outline" color="primary">
		<mat-label>Password</mat-label>
		<input matInput [(ngModel)]="password">
	</mat-form-field>
</div>

<div mat-dialog-actions align="end">
	<mat-dialog-actions>
	<button mat-button [mat-dialog-close]="true" (click)="signup()">Sign Up</button>
	<button mat-button mat-dialog-close>Cancel</button>
	</mat-dialog-actions>
</div>