<h1 mat-dialog-title>Create New Post</h1>
<mat-divider></mat-divider>
<div mat-dialog-content style="width: 100%">
	<mat-form-field appearance="outline" style="width: 100%">
  <mat-label>Image Link (optional)</mat-label>
  <input matInput [(ngModel)]="image">
</mat-form-field>
<mat-form-field appearance="outline" style="width: 100%">
  <mat-label>Text Area</mat-label>
  <textarea matInput [(ngModel)]="content"></textarea>
</mat-form-field>
</div>
<div mat-dialog-actions align="end">
	<mat-dialog-actions>
	<button mat-button [mat-dialog-close]="true" (click)="publishPost()">Post</button>
	<button mat-button mat-dialog-close>Cancel</button>
	</mat-dialog-actions>
</div>